terraform-provider-atlassian
*.exe
*.test
*.log
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.auto.tfvars
*.auto.tfvars.json
terraform-debug.log
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.idea/
.vscode/
*.swp
*.swo
dist/
